.FilmBase__navigation {
    height: 0;
    overflow: hidden;
}
.FilmBase__navigation--show {
    animation: showNavigation 1s forwards;
}

.FilmBase__navigation--close {
    animation: closeNavigation 1s forwards;
}

@keyframes showNavigation {
    0%{
        height: 0;
    }
    100%{
        height: 100px;
    }
}

@keyframes closeNavigation {
    0%{
        height: 100px;
    }
    100%{
        height: 0;
    }
}

.FilmBase__container {
    position: relative;
    height: 100%;
    width: 100%;
    min-height: 68vh;
    overflow: hidden;
    margin:0;
}
.Filmbase__message{
    font-size: 2rem;
    color: wheat;
    text-shadow: 0 0 5px white;
    padding: 50px;
}
.FilmBase__img{
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -100;
    top:0;
    translate: all .5s;
}
.FilmBase__img--loading {
    animation: openCurtain .6s forwards;
}

.FilmBase__img--open {
    animation: openCurtain .3s forwards;
}
.FilmBase__img--closed {
    animation: closeCurtain 1.5s forwards;
}

@keyframes openCurtain {
    0%{
    }
    100%{
        top:-97%;
    }
}

@keyframes closeCurtain {
    0%{
        top:-97%;
    }
    100%{
        top: 0%;
    }
}