.Header__container{
    height: 60px;
    background: rgb(110,110,110);
background: linear-gradient(0deg, rgba(110,110,110,1) 0%, rgba(139,139,143,1) 35%, rgba(107,107,107,1) 100%);
}

.Header__title{
    margin: 0;
    padding: 10px;
    text-shadow:  8px 2px 12px rgb(216, 216, 216);

}

.Header__titleFirstWord{
    color: orange;
    text-shadow:  none;

}