.Form__container {
    background: rgb(163, 157, 157);
    background: linear-gradient(349deg, rgba(163, 157, 157, 1) 0%, rgba(208, 208, 208, 1) 52%, rgba(168, 168, 168, 1) 100%);
    box-sizing: border-box;
    transition: all .2s ease;
}

.Form__container--start {
    padding: 50px 0;
    height: 170px;
}

.Form__container--displayMovies {
    padding: 30px 0;
    height: 90px;
}

.Form__input {
    padding: 5px;
    margin: 5px;
    border-radius: 4px;
    border: 1px solid transparent;
    outline: none;
    transition: all .2s ease-in;
}

.Form__input:hover {
    border-radius: 4px;
    border: 1px solid rgb(175, 174, 174);
}

.Form__input:focus {
    border-radius: 4px;
    border: 1px solid rgb(100, 99, 99);
    box-shadow: 2px 3px 5px gray;
}

.Form__btn {
    display: block;
    margin: 10px auto;
    width: 100px;
    height: 20px;
    border-radius: 3px;
    border: 1px solid black;
    outline: none;
    transition: all .3s;
}

.Form__btn--disabled {
    cursor: not-allowed;
    animation: disableButton .4s forwards;

}

.Form__btn--enabled {
    animation: enableButton .5s forwards;
}

.Form__btn--enabled:hover {
    background: rgb(190, 253, 190);
    color: rgb(2, 100, 2);
    box-shadow: 2px 2px 5px black;
}

.Form__btn--newSearching {
    display: block;
    padding: 5px;
    margin: 10px auto;
    border-radius: 3px;
    border: 1px solid black;
    outline: none;
    transition: all .3s;
}

.Form__btn--newSearching:hover {
    transform: scale(1.04);
    box-shadow: 2px 3px 5px gray;
}

.Form__btn--newSearching:active {
    transform: scale(1.02);
    box-shadow: 1px 2px 3px gray;
}

@keyframes enableButton {
    0% {
        transform: scale(1)
    }

    70% {
        transform: scale(1.1);
        background: none
    }

    85% {
        transform: scale(1)
    }

    100% {
        transform: scale(1.2);
        background: rgb(228, 228, 228);
        color: rgb(2, 116, 2);
        box-shadow: 2px 2px 5px rgb(58, 57, 57);

    }
}

@keyframes disableButton {
    0% {
        transform: scale(1.1)
    }

    100% {
        transform: scale(1);
        background: rgb(255, 204, 204);
        color: rgb(170, 4, 4)
    }
}